<div class="toolbar p-d-flex p-ai-center p-jc-center p-jc-md-between" role="banner">
  <div class="p-ml-5">
    <span class="p-mr-5"><a routerLink="/" routerLinkActive="active" class="nav-button"><button pButton pRipple type="button" label="New" icon="pi pi-plus" class="p-button-raised p-button-primary"></button></a></span>
    <span><a routerLink="/invoice/search" routerLinkActive="active" class="nav-button"><button pButton pRipple type="button" label="Find" icon="pi pi-search" class="p-button-raised p-button-info"></button></a></span>
  </div>
  <div class="p-d-flex p-ai-center p-ml-4">
    <img class="header-title"
      width="40"
      alt="Logo"
      src="assets/invoice-icon.png"
    />
  </div>
</div>
